{% extends 'base.html' %}


{% block content %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item"><a>{{ category.name }}</a></li>
    </ol>
</nav>
<div class="row">
    {% for estate in category_real_estate %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="{{ estate.get_absolute_url}}"><img class="card-img-top" src="{{ estate.image.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ estate.get_absolute_url}}">{{ estate.name }}</a>
                </h4>
                <h5>{{ estate.price }} $</h5>
                  <a href="{% url 'add_to_favorites' ct_model=estate.get_model_name slug=estate.slug %}">
                  <button class="btn btn-danger">В избранное</button>
                  </a>
              </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
