{% extends 'base.html' %}
{% load features %}
{% block content %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ estate.category.get_absolute_url }}">{{ estate.category.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ estate.name }}</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <img src="{{ estate.image.url }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{ estate.name }}</h3>
        <p>Цена: {{ estate.price }} $</p>
        <p>Описание: {{ estate.about }}</p>
        <hr>
        <a href="{% url 'add_to_favorites' ct_model=ct_model slug=estate.slug %}"><button class="btn btn-danger">Добавить в избранное</button></a>

    </div>
    <p class="mt-4">Характеристики:</p>

    {{estate|estate_feature}}

</div>
{% endblock content %}
