{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Избранные квартиры {% if not favorites.real_estate.count %}:нет{% endif %}</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Изображение</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
  {% for item in favorites.real_estate.all %}
        <tr>
          <th scope="row">{{ item.content_object.name }}</th>
          <td class="w-25"><img src="{{ item.content_object.image.url }}" class="img-fluid"></td>
          <td>{{ item.content_object.price }}</td>
            <td>
              <a href="{% url 'delete_from_favorites' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}"><button class="btn-danger">Удалить из избранного</button></a>
            </td>
        </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}
