<table class="table">
  <tbody>
    <tr>
      <td>Количество комнат</td>
      <td>{{ estate.rooms }}</td>
    </tr>
    <tr>
      <td>Этаж</td>
      <td>{{ estate.floor }}</td>
    </tr>
  </tbody>
</table>